doctype html
html(lang='en', ng-app='')
  head
    meta(charset='utf-8')
    title My HTML File
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    script(src='bower_components/angular/angular.js')
  body
    p Nothing here {{&apos;yet&apos; + &apos;!&apos;}}
